@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Roboto+Slab:wght@200;300;400;500;600;700&display=swap");
:root {
  --ff-primary: "Playfair Display", serif;
  --ff-secondary: "Roboto Slab", serif;

  /* Colors */
  --color-100: #210410;
  --color-200: #331606;
  --color-400: #4d111f;
  --color-700: #662d35;
  --color-800: #ccbd8f;
  --color-900: #e4d3a0;

  /* typography sizes */
  --font-size_label: 0.75em;
  --font-size_body: 1em;
  --font-size_big-body: 1.3em;
  --font-size_h4: 1.7em;
  --font-size_h3: 2.3em;
  --font-size_h2: 3.1em;
  --font-size_h1: 4.2em;

  /* Border radius */
  --border-radius_general: 0.5rem;

  /* Spacings */
  --sp-xxs: 0.25rem;
  --sp-xs: 0.5rem;
  --sp-s: 0.7rem;
  --sp-m: 1.2rem;
  --sp-l: 2rem;
  --sp-xl: 4rem;
  --sp-xxl: 8rem;

  /* max-height */
  --max-height-view: 70vh;
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
}

body {
  background-image: url(../images/graphics/bg_home.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 10%;
  background-position-x: 100%;
  min-height: 100vh;
  font-family: var(--ff-secondary);
  font-size: 0.875rem;
}

h1,
h2,
h3 {
  font-family: var(--ff-primary);
}
main {
  max-width: calc(1400px + 8rem);
  padding-inline: 1rem;
  padding-block: var(--sp-l);
  margin-inline: auto;
}
p {
  font-size: var(--font-size_body);
}
a {
  text-decoration: none;
  color: var(--color-200);
}
/* Layout */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 1rem;
  gap: var(--sp-m);
  max-width: calc(1400px + 8rem);
  margin-inline: auto;
  padding-inline: 1rem;
}
header nav ul {
  display: flex;
  margin-inline: auto;
  gap: var(--sp-m);
  list-style: none;
}

li a {
  font-size: var(--font-size_body);
}
#hero h1 {
  font-size: var(--font-size_h3);
}
.grid_2-5 {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 1rem;
}
.grid_3-1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}
.grid_3-2 {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 1rem;
}
#students_container.grid_3-1 {
  display: block;
}

/* ! Students */
#students {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  overflow: scroll;
  max-height: var(--max-height-view);
}

.student {
  padding: var(--sp-s);
  background-image: radial-gradient(rgba(204, 189, 143, 0.9) 0%, rgba(228, 211, 160, 0.9) 100%);
  border-radius: var(--border-radius_general);
  /* border: 1px solid black; */
}
.portrait {
  border-radius: 20px;
  /* mix-blend-mode: ; */
}
.student h3 {
  font-family: var(--ff-secondary);
  font-size: var(--font-size_big-body);
}

.student > div:last-child {
  display: flex;
  gap: var(--sp-s);
  flex-direction: column;
}
.student > div .btn {
  /* margin-left: auto; */
  align-self: stretch;
  text-align: center;
}
.student div:last-child {
  grid-column: 1/-1;
}
.student img {
  width: 100%;
  aspect-ratio: 1/1;
}
.name {
  padding-bottom: 0.5rem;
}
.name:last-child {
  padding-bottom: 0rem;
}
.label {
  font-size: var(--font-size_label);
}
.btn {
  background-image: linear-gradient(90deg, var(--color-200) 0%, var(--color-400) 100%);
  padding: var(--sp-xs, --sp-s);
  font-size: var(--font-size_body);
  color: var(--color-900);
  border-radius: var(--border-radius_general);
}
#info {
  display: none;
}

/* !end of students */

#opt_relative {
  position: relative;
  min-height: 5.5rem;
}
#opt_relative > aside {
  display: flex;
  gap: var(--sp-m);
  padding-block: var(--sp-m);
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  width: 100%;
}
.sort_btn,
.filter_btn,
.info_btn,
.search_btn {
  background-color: var(--color-400);
  color: var(--color-900);
  padding-block: var(--sp-xs);
  padding-inline: var(--sp-s);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: var(--sp-s);
  transition: all 300ms ease;
}
.search_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sort_btn:hover,
.filter_btn:hover,
.info_btn:hover {
  background-color: var(--color-100);
  cursor: pointer;
}
.sort_btn[data-popup="open"],
.filter_btn[data-popup="open"],
.info_btn[data-popup="open"] {
  border-radius: 8px;
}
.sort_btn[data-popup="open"] form,
.filter_btn[data-popup="open"] form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.sort_btn[data-popup="closed"] form,
.filter_btn[data-popup="closed"] form,
.info_btn[data-popup="closed"] .info_content {
  display: none;
  overflow: hidden;
  transition: all 300ms;
}
.sort_btn form,
.filter_btn form {
  padding: var(--sp-s);
}
.sort_btn form div,
.filter_btn form div {
  display: flex;
  gap: var(--sp-s);
  padding-block: var(--sp-xxs);
}
.filter_trigger,
.sort_trigger,
.info_trigger {
  display: flex;
  align-items: center;
  gap: var(--sp-s);
}
input[type="radio"] {
  display: block;
  border: none;
  appearance: none;
  background-color: var(--color-900);
  width: 1rem;
  height: 1rem;
  position: relative;

  border-radius: 50%;
}
input[type="radio"]:checked::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  position: absolute;
  inset: 50% 50%;
  transform: translate(-50%, -50%);

  background-color: var(--color-700);
}

.search_btn input {
  display: none;
  background-color: var(--color-900);
  border-radius: 2rem;
  outline: none;
  border: none;
  height: 100%;
  padding-inline: var(--sp-s);
}
.info_btn {
  position: absolute;
  inset: auto 1rem 1rem auto;
}

/* !Popup */
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 4rem 1rem;
}
.overlay article {
  width: 100%;
  max-width: 950px;
}
#actions {
  display: flex;
  flex-direction: column;
  gap: var(--sp-s);
  /* grid-column: -2/-1; */
}
#actions .btn {
  margin: 0;
  align-self: stretch;
}

.popup_content-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--sp-l);
}
/* !end of popup */
@media only screen and (min-width: 580px) {
  body {
    background-position-y: 50%;
    background-position-x: 100%;
    /* font-size: 0.9rem; */
  }

  main {
    padding-inline: 2rem;
  }
  header {
    padding-inline: 2rem;
  }
  header nav {
    align-self: end;
  }
  header nav ul {
    flex-direction: column;
    gap: var(--sp-xs);
    align-items: end;
  }
  #opt_relative > aside {
    justify-content: start;
  }
  .student > div:last-child {
    display: flex;
    flex-direction: row;
    margin-top: auto;
  }
  .student > div .btn {
    margin-left: auto;
    align-self: end;
  }
  .search_btn input {
    display: inline-block;
  }
  .search_btn label {
    display: none;
  }
  .search_btn {
    align-items: stretch;
  }

  /* Layout */
}

@media only screen and (min-width: 1000px) {
  body {
    font-size: 1rem;
  }
  main {
    padding-inline: 4rem;
  }
  header {
    padding-inline: 4rem;
  }
  .search_btn input {
    min-width: 300px;
  }
  #students + aside {
    display: flex;
    flex-direction: column;
    gap: var(--sp-m);
    grid-column: -2/-1;
    grid-row: 1/5;
    background-color: var(--color-400);
    padding: var(--sp-s);
    border-radius: var(--border-radius_general);
    max-height: var(--max-height-view);
    overflow: scroll;
  }
  #students + aside h3 {
    color: var(--color-900);
    font-size: var(--font-size_h3);
  }
  .info_title {
    display: flex;
    align-items: center;
    gap: var(--sp-xs);
  }
  #info article {
    background-color: var(--color-100);
    padding: var(--sp-s);
    border-radius: var(--border-radius_general);
    color: var(--color-900);
    display: flex;
    flex-direction: column;
    gap: var(--sp-s);
  }
  #info h4 {
    font-size: var(--font-size_h4);
  }
  #students_container.grid_3-1 {
    display: grid;
  }
  .info_btn {
    display: none;
  }
  .overlay article {
    width: 100%;
    max-width: 950px;
  }
  #actions {
    display: flex;
    flex-direction: column;
    gap: var(--sp-s);
    grid-column: -2/-1;
  }
  #actions .btn {
    margin: 0;
    align-self: stretch;
  }

  .popup_content-left {
    display: flex;
    gap: var(--sp-l);
  }
}
